body {
  text-align: center;
  background-image: url('images/background.jpg');
  font-family: Verdana;
  transition-duration: 3s;
}
.bodybgd {
  background-repeat: repeat-y;
  background-size: 100%;
}

h1 {
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
}

h3 {
  margin-top: 3px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  width: 50%;
  height: 100%;
  font-size: 30px;
  border-radius: 60px;
  margin-top: 30px;
  border-color: black;
  border-width: 8px;
  text-align: center;
}
::placeholder {
  opacity: 1;
  transition-duration: 3s;
}

#name {
  width: auto;
  border: 0;
  background-color: transparent;
  text-align: center;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 30px;
  padding: 0px;
}
#name::placeholder {
  opacity: 1;
  text-align: center;
  padding: 0;
  border: 0;
}
input {
  transition-duration: 3s;
}
#uhr {
  font-size: 100px;
  font-family: Verdana;
}
#btnT img {
  width: 30px;
  height: 30px;
}
#btnS img {
  width: 30px;
  height: 30px;
}
#btnR img {
  width: 30px;
  height: 30px;
}
#btnT {
  margin-top: 150px;
  width: 80px;
  height: 80px;
  background-color: black;
  border-width: 3px;
  border-radius: 30%;
  border-color: white;
  color: white;
  font-size: 100%;
}

#btnS {
  margin-top: 120px;
  width: 80px;
  height: 80px;
  background-color: black;
  border-width: 3px;
  border-radius: 30%;
  border-color: white;
  color: white;
  font-size: 100%;
}

#btnR {
  margin-top: 120px;
  width: 80px;
  height: 80px;
  background-color: black;
  border-width: 3px;
  border-radius: 30%;
  border-color: white;
  color: white;
  font-size: 100%;
}

#menübtn {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  z-index: 3;
}
#menübtnimg {
  width: 50px;
  height: 50px;
}

#menülistbtns {
  background-color: black;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 30%;
  height: 100%;
}

#thover {
  background: none;
  font-size: 150%;
  text-align: center;
  background: none;
  color: white;
}
#thover table {
  margin: 0 auto;
}

#thover input {
  background-color: black;
  color: white;
  border-color: black;
}

#shover {
  background: none;
  font-size: 150%;
  text-align: center;
  background: none;
  color: white;
}
#shover table {
  margin: 0 auto;
}

#shover input {
  background-color: black;
  color: white;
  border-color: black;
}

#rhover {
  background: none;
  font-size: 150%;
  text-align: center;
  background: none;
  color: white;
}
#rhover table {
  margin: 0 auto;
}

#rhover input {
  background-color: black;
  color: white;
  border-color: black;
}
#menüitems {
  position: absolute;
  left: 30%;
  top: 0;
  width: 70%;
  height: auto;
  background-color: black;
}
#menü {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: 2;
}

#menüitems input {
  border-radius: 0;
  border-width: 5px;
}

.inputnight::placeholder {
  color: white;
}
.inputday::placeholder {
  color: black;
}

.inputnight {
  background-color: black;
  border-color: white;
  color: white;
}
.inputday {
  background-color: white;
  border-color: black;
  color: black;
}
.inputnight input {
  background-color: black;
  color: white;
  border-color: white;
}
.inputday input {
  background-color: white;
  color: black;
  border-color: black;
}

.notdisplay {
  display: none;
}
#startmainunset {
  color: black;
  z-index: 4;
}
