@charset "UTF-8";
body {
  text-align: center;
  background-image: url("images/background.jpg");
  font-family: Verdana;
}

::-webkit-input-placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  opacity: 1;
}

::-ms-input-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

h1 {
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
}

h3 {
  margin-top: 3px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#uhr {
  font-size: 100px;
  font-family: Verdana;
}

#name {
  margin: 0%;
  width: auto;
  font-size: 30px;
  background: transparent;
  border: none;
  text-align: center;
}

#name::-webkit-input-placeholder {
  text-align: center;
  opacity: 1;
}

#name:-ms-input-placeholder {
  text-align: center;
  opacity: 1;
}

#name::-ms-input-placeholder {
  text-align: center;
  opacity: 1;
}

#name::placeholder {
  text-align: center;
  opacity: 1;
}

#horizontalline {
  position: fixed;
  width: 1px;
  height: 100%;
  top: -10px;
  padding: 0;
  left: 30%;
  background-color: white;
  border: none;
  color: white;
  z-index: 3;
}

#menü {
  position: absolute;
  top: 0px;
  left: 30%;
  width: 70%;
  height: 100%;
  opacity: 1;
  z-index: 2;
}

#mainmenübtns {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 30%;
  height: 100%;
  z-index: 3;
  opacity: 1;
}

#menülistbtns {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 30%;
  height: 100%;
  z-index: 3;
  opacity: 1;
}

#menübtn {
  position: fixed;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  z-index: 3;
  left: 30px;
  top: 30px;
}

#menübtn img {
  width: 50px;
  height: 50px;
}

#back {
  position: fixed;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  z-index: 3;
  left: 30px;
  top: 90px;
}

#back img {
  width: 50px;
  height: 50px;
}

#ecosia {
  width: 50%;
  height: 100%;
  font-size: 30px;
  border-radius: 20px;
  margin-top: 30px;
  border-color: #5f5e5e;
  border-width: 3px;
  text-align: center;
}

#youtube {
  width: 50%;
  height: 100%;
  font-size: 30px;
  border-radius: 20px;
  margin-top: 30px;
  border-color: #5f5e5e;
  border-width: 3px;
  text-align: center;
}

#amazon {
  width: 50%;
  height: 100%;
  font-size: 30px;
  border-radius: 20px;
  margin-top: 30px;
  border-color: #5f5e5e;
  border-width: 3px;
  text-align: center;
}

#settingbtn {
  margin-top: 150px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-width: 3px;
  border-radius: 30%;
  border-color: white;
  color: white;
  font-size: 100%;
}

#settingbtn img {
  width: 30px;
  height: 30px;
}

#listbtn {
  margin-top: 150px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-width: 3px;
  border-radius: 30%;
  border-color: white;
  color: white;
  font-size: 100%;
}

#listbtn img {
  width: 30px;
  height: 30px;
}

#btnR {
  margin-top: 150px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-width: 3px;
  border-radius: 30%;
  border-color: white;
  color: white;
  font-size: 100%;
}

#btnR img {
  width: 30px;
  height: 30px;
}

#btnS {
  margin-top: 150px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-width: 3px;
  border-radius: 30%;
  border-color: white;
  color: white;
  font-size: 100%;
}

#btnS img {
  width: 30px;
  height: 30px;
}

#btnT {
  margin-top: 150px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-width: 3px;
  border-radius: 30%;
  border-color: white;
  color: white;
  font-size: 100%;
}

#btnT img {
  width: 30px;
  height: 30px;
}

#tbody {
  background: none;
  font-size: 150%;
  text-align: center;
  background: none;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

#tbody table {
  margin: auto;
}

#sbody {
  background: none;
  font-size: 150%;
  text-align: center;
  background: none;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

#sbody table {
  margin: auto;
}

#rbody {
  background: none;
  font-size: 150%;
  text-align: center;
  background: none;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

#rbody table {
  margin: auto;
}

.notdisplay {
  display: none;
}

.inputnight::-webkit-input-placeholder {
  color: white;
}

.inputnight:-ms-input-placeholder {
  color: white;
}

.inputnight::-ms-input-placeholder {
  color: white;
}

.inputnight::placeholder {
  color: white;
}

.inputday::-webkit-input-placeholder {
  color: black;
}

.inputday:-ms-input-placeholder {
  color: black;
}

.inputday::-ms-input-placeholder {
  color: black;
}

.inputday::placeholder {
  color: black;
}

.inputnight {
  background-color: black;
  border-color: white;
  color: white;
}

.inputnight input {
  background-color: black;
  color: white;
  border-color: white;
}

.inputday {
  background-color: white;
  border-color: black;
  color: black;
}

.inputday input {
  background-color: white;
  color: black;
  border-color: black;
}

.bodybgd {
  background-repeat: repeat-y;
  background-size: 100%;
}

.menümainbgc {
  background-color: black;
  width: 70%;
  height: 100%;
  left: 30%;
  top: 0px;
  z-index: 2;
  position: fixed;
  opacity: 0.8;
}

.menübtnbgc {
  background-color: black;
  width: 30%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 2;
  position: fixed;
  opacity: 0.8;
}

.rinput {
  margin-top: 30px;
  width: 90%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.rinput input {
  width: 100%;
  height: 100%;
  color: #747474;
  padding-top: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.rinput label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.rinput label span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rinput label::after {
  content: '';
  position: absolute;
  height: 100%;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #747474;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.rinput input:focus + label span,
.rinput input:valid + label span {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  font-size: 14px;
  color: #747474;
}

.rinput input:focus + label::after,
.rinput input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.rnameinput {
  margin-top: 30px;
  width: 90%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.rnameinput input {
  width: 100%;
  height: 100%;
  color: #747474;
  padding-top: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.rnameinput label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.rnameinput label span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rnameinput label::after {
  content: '';
  position: absolute;
  height: 100%;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #747474;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.rnameinput input:focus + label span,
.rnameinput input:valid + label span {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  font-size: 14px;
  color: #747474;
}

.rnameinput input:focus + label::after,
.rnameinput input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.snameinput {
  margin-top: 30px;
  width: 90%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.snameinput input {
  width: 100%;
  height: 100%;
  color: #747474;
  padding-top: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.snameinput label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.snameinput label span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.snameinput label::after {
  content: '';
  position: absolute;
  height: 100%;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #747474;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.snameinput input:focus + label span,
.snameinput input:valid + label span {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  font-size: 14px;
  color: #747474;
}

.snameinput input:focus + label::after,
.snameinput input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.spriceinput {
  margin-top: 30px;
  width: 90%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.spriceinput input {
  width: 100%;
  height: 100%;
  color: #747474;
  padding-top: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.spriceinput label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.spriceinput label span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.spriceinput label::after {
  content: '';
  position: absolute;
  height: 100%;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #747474;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.spriceinput input:focus + label span,
.spriceinput input:valid + label span {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  font-size: 14px;
  color: #747474;
}

.spriceinput input:focus + label::after,
.spriceinput input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.slinkinput {
  margin-top: 30px;
  width: 90%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.slinkinput input {
  width: 100%;
  height: 100%;
  color: #747474;
  padding-top: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.slinkinput label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.slinkinput label span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slinkinput label::after {
  content: '';
  position: absolute;
  height: 100%;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #747474;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.slinkinput input:focus + label span,
.slinkinput input:valid + label span {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  font-size: 14px;
  color: #747474;
}

.slinkinput input:focus + label::after,
.slinkinput input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.tinput {
  margin-top: 30px;
  width: 90%;
  position: relative;
  height: 60px;
  overflow: hidden;
}

.tinput input {
  width: 100%;
  height: 100%;
  color: #747474;
  padding-top: 20px;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.tinput label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.tinput label span {
  position: absolute;
  bottom: 5px;
  left: 0px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tinput label::after {
  content: '';
  position: absolute;
  height: 100%;
  left: 0px;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #747474;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.tinput input:focus + label span,
.tinput input:valid + label span {
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  font-size: 14px;
  color: #747474;
}

.tinput input:focus + label::after,
.tinput input:valid + label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
/*# sourceMappingURL=style.css.map */