//variables
$listinputcolor: rgb(116, 116, 116);

// mixins
@mixin mainhomereturn {
  position: fixed;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  z-index: 3;
  left: 30px;
  img {
    width: 50px;
    height: 50px;
  }
}

@mixin listinputs {
  margin-top: 30px;
  width: 90%;
  position: relative;
  height: 60px;
  overflow: hidden;

  input {
    width: 100%;
    height: 100%;
    color: $listinputcolor;
    padding-top: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  label {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
    span {
      position: absolute;
      bottom: 5px;
      left: 0px;
      transition: all 0.3s ease;
    }
  }
  label::after {
    content: '';
    position: absolute;
    height: 100%;
    left: 0px;
    bottom: 1px;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $listinputcolor;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  input:focus + label span,
  input:valid + label span {
    transform: translateY(-200%);
    font-size: 14px;
    color: $listinputcolor;
  }
  input:focus + label::after,
  input:valid + label::after {
    transform: translateX(0%);
  }
}

@mixin listsbody {
  background: none;
  font-size: 150%;
  text-align: center;
  background: none;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  table {
    margin: auto;
  }
}

@mixin mainmenübtns {
  margin-top: 150px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border-width: 3px;
  border-radius: 30%;
  border-color: white;
  color: white;
  font-size: 100%;
  img {
    width: 30px;
    height: 30px;
  }
}
@mixin mainmenü {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 30%;
  height: 100%;
  z-index: 3;
  opacity: 1;
}

@mixin normalinput() {
  width: 50%;
  height: 100%;
  font-size: 30px;
  border-radius: 20px;
  margin-top: 30px;
  border-color: rgb(95, 94, 94);
  border-width: 3px;
  text-align: center;
}

body {
  text-align: center;
  background-image: url('images/background.jpg');
  font-family: Verdana;
}
::placeholder {
  opacity: 1;
}
h1 {
  font-size: 50px;
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
}

h3 {
  margin-top: 3px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#uhr {
  font-size: 100px;
  font-family: Verdana;
}
#name {
  margin: 0%;
  width: auto;
  font-size: 30px;
  background: transparent;
  border: none;
  text-align: center;
}
#name::placeholder {
  text-align: center;
  opacity: 1;
}
#horizontalline {
  position: fixed;
  width: 1px;
  height: 100%;
  top: -10px;
  padding: 0;
  left: 30%;
  background-color: white;
  border: none;
  color: white;
  z-index: 3;
}

#menü {
  position: absolute;
  top: 0px;
  left: 30%;
  width: 70%;
  height: 100%;
  opacity: 1;
  z-index: 2;
  // background: black;
}
#mainmenübtns {
  @include mainmenü();
}

#menülistbtns {
  @include mainmenü();
}

#menübtn {
  @include mainhomereturn();
  top: 30px;
}
#back {
  @include mainhomereturn();
  top: 90px;
}

#ecosia {
  @include normalinput();
}
#youtube {
  @include normalinput();
}
#amazon {
  @include normalinput();
}
#settingbtn {
  @include mainmenübtns();
}
#listbtn {
  @include mainmenübtns();
}
#btnR {
  @include mainmenübtns();
}
#btnS {
  @include mainmenübtns();
}
#btnT {
  @include mainmenübtns();
}
#tbody {
  @include listsbody();
}
#sbody {
  @include listsbody();
}
#rbody {
  @include listsbody();
}
.notdisplay {
  display: none;
}
.inputnight::placeholder {
  color: white;
}
.inputday::placeholder {
  color: black;
}
.inputnight {
  background-color: black;
  border-color: white;
  color: white;
  input {
    background-color: black;
    color: white;
    border-color: white;
  }
}
.inputday {
  background-color: white;
  border-color: black;
  color: black;
  input {
    background-color: white;
    color: black;
    border-color: black;
  }
}

.bodybgd {
  background-repeat: repeat-y;
  background-size: 100%;
}
.menümainbgc {
  background-color: black;
  width: 70%;
  height: 100%;
  left: 30%;
  top: 0px;
  z-index: 2;
  position: fixed;
  opacity: 0.8;
}
.menübtnbgc {
  background-color: black;
  width: 30%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 2;
  position: fixed;
  opacity: 0.8;
}

.rinput {
  @include listinputs();
}
.rnameinput {
  @include listinputs();
}
.snameinput {
  @include listinputs();
}
.spriceinput {
  @include listinputs();
}
.slinkinput {
  @include listinputs();
}
.tinput {
  @include listinputs();
}
